@font-face {
    font-family: 'Poppins Medium';
    src: url("../fonts/Poppins-Medium.ttf");
}

.root {
    -fx-font-family: 'Poppins Medium';
    -fx-font-size: 14px;
    -fx-background-color: #FFFFFF;
}

#boxRegistro, #boxItens {
    -fx-border-radius: 5;
    -fx-border-color: #011A5D;
}

#titleItens, #titleRegistro {
    -fx-font-size: 24px;
}

.button {
    -fx-background-color: #011A5D;
    -fx-text-fill: #FFFFFF;
}